/**************************/
/*Normalizaciones y resets*/
/**************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family:'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: var(--color-principal-de-fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/
}

img{
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  }
ul {
  list-style: none;
}
